html,
body {
  margin: 0;
  padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

* {
  box-sizing: border-box;
}

.container {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 0 7%;
    padding-top: 10px;
}

.header h1 {
    color: #f9faf8;
    font-size: 24px;
}

.header a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.header a:visited {
    color: #e5e7eb;
    text-decoration: none;
}

.section {
    display: flex;
    min-height: 33%;
    padding: 0 7%;
}

#hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero-text-section {
    max-width: 42%;
}

#hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

#hero-sub-text {
    font-size: 16px;
    font-weight: 100;
    color: #f9faf8;
}

#hero-main-button {
    background-color: #3882f6;
    color: #e5e7eb;

    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40%;
    min-height: 28px;
    border-radius: 2px;
}

#hero-image-section {
    background-color: #e5e7eb;
    min-width: 320px;
    max-width: 30%;
    min-height: 200px;
}

#info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-main-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

#info-content {
    display: flex;
}

.info-content-chunk {
    display: flex;
    flex-direction: column;
}

.info-content-image {
    border: 2px solid #3882f6;
    border-radius: 5px;
    min-width: 148px;
    max-width: 20%;
    min-height: 148px;
    padding: 0;
}

.info-content-subtext {
    font-size: 15px;
    min-width: 148px;
    max-width: 20%;
}

#quote-section {
    display: flex;
    align-items: center;
    background-color: #e5e7eb;
}

#quote-content {
    display: flex;
    flex-direction: column;
}

#quote {
    font-size: 24px;
    font-weight: light;
    font-style: italic;
}

#quote-sign {
    font-size: 20px;
    font-style: bold;
    align-self: flex-end;
}

#action-section {
    justify-content: center;
    align-items: center;
}

#action-banner {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    align-items: center;
    padding: 0.5em 2em;
    border-radius: 5px;
}

#action-banner-text {
    padding: 0 1em;
}

#action-banner-text-title {
    
}

#action-banner-button {
    padding: 0.5em 1em;
    border: 1px solid #f9faf8;
    border-radius: 2px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
}